@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007ac0;
  --ds-text: #172b4d;
  --ds-text-accent-lime: #4c6b1f;
  --ds-text-accent-lime-bolder: #37471f;
  --ds-text-accent-red: #ae2e24;
  --ds-text-accent-red-bolder: #5d1f1a;
  --ds-text-accent-orange: #a54800;
  --ds-text-accent-orange-bolder: #702e00;
  --ds-text-accent-yellow: #7f5f01;
  --ds-text-accent-yellow-bolder: #533f04;
  --ds-text-accent-green: #216e4e;
  --ds-text-accent-green-bolder: #164b35;
  --ds-text-accent-teal: #206a83;
  --ds-text-accent-teal-bolder: #164555;
  --ds-text-accent-blue: #0055cc;
  --ds-text-accent-blue-bolder: #09326c;
  --ds-text-accent-purple: #5e4db2;
  --ds-text-accent-purple-bolder: #352c63;
  --ds-text-accent-magenta: #943d73;
  --ds-text-accent-magenta-bolder: #50253f;
  --ds-text-accent-gray: #44546f;
  --ds-text-accent-gray-bolder: #091e42;
  --ds-text-disabled: #091e424f;
  --ds-text-inverse: #ffffff;
  --ds-text-selected: #0c66e4;
  --ds-text-brand: #0c66e4;
  --ds-text-danger: #ae2e24;
  --ds-text-warning: #a54800;
  --ds-text-warning-inverse: #172b4d;
  --ds-text-success: #216e4e;
  --ds-text-discovery: #5e4db2;
  --ds-text-information: #0055cc;
  --ds-text-subtlest: #626f86;
  --ds-text-subtle: #44546f;
  --ds-link: #0c66e4;
  --ds-link-pressed: #0055cc;
  --ds-link-visited: #5e4db2;
  --ds-icon: #44546f;
  --ds-icon-accent-lime: #6a9a23;
  --ds-icon-accent-red: #c9372c;
  --ds-icon-accent-orange: #e56910;
  --ds-icon-accent-yellow: #b38600;
  --ds-icon-accent-green: #22a06b;
  --ds-icon-accent-teal: #2898bd;
  --ds-icon-accent-blue: #1d7afc;
  --ds-icon-accent-purple: #8270db;
  --ds-icon-accent-magenta: #cd519d;
  --ds-icon-accent-gray: #758195;
  --ds-icon-disabled: #091e424f;
  --ds-icon-inverse: #ffffff;
  --ds-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --ds-background-selected: #e9f2ff;
}
